/* Estilos de la Sección de Filtros */
.filter-section {
    margin-top: 25px;
    padding: 15px; 
    background-color: #eee; 
    display: flex; 
    justify-content: space-around; 
    align-items: center; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
}

.filter-btn {
    padding: 10px 15px; /* Espaciado interno */
    /* border: 2px solid blue;  Borde azul */
    background-color: white; /* Color de fondo blanco */
    color: blue; /* Color del texto */
    border-radius: 5px; /* Bordes redondeados */
    cursor: pointer; /* Cursor en forma de puntero al pasar el ratón */
    transition: background-color 0.3s, color 0.3s; /* Transiciones suaves */
}

.filter-btn:hover {
    background-color: blue; /* Color de fondo azul al pasar el ratón */
    color: white; /* Cambiar el color del texto al pasar el ratón */
}

/* Estilos del filtro de películas */
.date-select {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
}

.date-select label {
    margin-right: 10px; 
    font-weight: bold; 
    font-size: 1.1rem;
}

.date-select select {
    padding: 10px; /* Espaciado interno del selector */
    border-radius: 5px; /* Bordes redondeados */
    background-color: white; /* Color de fondo blanco */
    cursor: pointer; /* Cursor en forma de puntero */
    transition: border-color 0.3s; /* Transición suave para el borde */
}

.date-select select:hover {
    border-color: blue; /* Cambiar el color del borde al pasar el ratón */
}

/* Media Queries para hacer el filtro de películas responsive */
@media (max-width: 768px) {
    .date-select {
        flex-direction: column;
        align-items: flex-start;
    }

    .date-select label {
        margin-bottom: 0.5rem;
        font-size: 1rem;
    }

    .date-select select {
        width: 100%;
        padding: 8px;
    }
}

@media (max-width: 480px) {
    .date-select label {
        font-size: 0.9rem;
    }

    .date-select select {
        padding: 6px;
    }
}