.reservation-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  gap: 40px;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 50px auto;
  max-width: 1200px;
}

/* Estilos de la página de reservas */
.movie-details {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.movie-details img {
  width: 100%;
  max-width: 400px;
  height: auto;
  border-radius: 10px;
  margin-bottom: 20px;
}

.movie-details h2 {
  font-size: 2rem;
  margin-bottom: 10px;
  color: #333;
}

.movie-details p {
  font-size: 1rem;
  color: #666;
  line-height: 1.5;
}

.reservation-form {
  flex: 1;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.reservation-form label {
  font-size: 1rem;
  font-weight: bold;
  margin-bottom: 5px;
  color: #333;
}

.reservation-form select,
.reservation-form input[type="number"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 1rem;
}

.reservation-form button {
  width: 100%;
  padding: 15px;
  font-size: 1.2rem;
  color: #fff;
  background-color: #007bff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.reservation-form button:hover {
  background-color: #0056b3;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  background-color: #fff;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 500px;
  width: 100%;
  text-align: center;
}

.modal-content h2 {
  font-size: 1.8rem;
  margin-bottom: 20px;
  color: #333;
}

.modal-content p {
  font-size: 1rem;
  color: #666;
  margin-bottom: 20px;
}

.modal-content button {
  padding: 10px 20px;
  font-size: 1rem;
  color: #fff;
  background-color: #007bff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.modal-content button:hover {
  background-color: #0056b3;
}

/* Media Queries para hacer la página de reservas responsive */
@media (max-width: 768px) {
  .movie-details img {
    max-width: 300px;
  }

  .movie-details h2 {
    font-size: 1.5rem;
  }

  .movie-details p {
    font-size: 0.9rem;
  }
}

@media (max-width: 480px) {
  .movie-details img {
    max-width: 200px;
  }

  .movie-details h2 {
    font-size: 1.2rem;
  }

  .movie-details p {
    font-size: 0.8rem;
  }
}